attrs==21.4.0
    # via pytest
cftime==1.6.0
    # via
    #   -r requirements/tests.in
    #   netcdf4
coverage[toml]==6.3.2
    # via pytest-cov
distlib==0.3.4
    # via virtualenv
filelock==3.6.0
    # via
    #   tox
    #   virtualenv
iniconfig==1.1.1
    # via pytest
netcdf4==1.5.8
    # via -r requirements/tests.in
numpy==1.22.3
    # via
    #   cftime
    #   netcdf4
packaging==21.3
    # via
    #   pytest
    #   tox
platformdirs==2.5.2
    # via virtualenv
pluggy==1.0.0
    # via
    #   pytest
    #   tox
py==1.11.0
    # via
    #   pytest
    #   tox
pyparsing==3.0.8
    # via packaging
pytest==7.1.1
    # via
    #   -r requirements/tests.in
    #   pytest-cov
    #   pytest-mock
pytest-cov==3.0.0
    # via -r requirements/tests.in
pytest-mock==3.7.0
    # via -r requirements/tests.in
six==1.16.0
    # via
    #   tox
    #   virtualenv
toml==0.10.2
    # via tox
tomli==2.0.1
    # via
    #   coverage
    #   pytest
tox==3.25.0
    # via -r requirements/tests.in
virtualenv==20.14.1
    # via tox
