attrs==21.2.0
    # via pytest
backports.entry-points-selectable==1.1.1
    # via virtualenv
coverage[toml]==6.1.2
    # via pytest-cov
distlib==0.3.3
    # via virtualenv
filelock==3.4.0
    # via
    #   tox
    #   virtualenv
iniconfig==1.1.1
    # via pytest
packaging==21.3
    # via
    #   pytest
    #   tox
platformdirs==2.4.0
    # via virtualenv
pluggy==1.0.0
    # via
    #   pytest
    #   tox
py==1.11.0
    # via
    #   pytest
    #   tox
pyparsing==3.0.6
    # via packaging
pytest==6.2.5
    # via
    #   -r requirements/tests.in
    #   pytest-cov
    #   pytest-mock
pytest-cov==3.0.0
    # via -r requirements/tests.in
pytest-mock==3.6.1
    # via -r requirements/tests.in
six==1.16.0
    # via
    #   tox
    #   virtualenv
toml==0.10.2
    # via
    #   pytest
    #   tox
tomli==1.2.2
    # via coverage
tox==3.24.5
    # via -r requirements/tests.in
virtualenv==20.10.0
    # via tox
